<!DOCTYPE html>
<html lang="en">
<head>
    {% if title %}
    <title>{{ title }} - NHS</title>
    {% else %}
    <title>Welcome to NHS Math!</title>
    {% endif %}


    <!-- Landing page CSS -->
    {% if title == "Welcome" %}
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/main.css') }}">
        <noscript>
            <link rel="stylesheet" href="{{ url_for('static', filename='assets/noscript.css') }}">
        </noscript>
    {% endif %}
</head>

<body>

<!-- ===== TOP NAVBAR ===== -->
<header id="top-nav">
    <div class="logo">NHS Math</div>
    <nav class="top-menu">
        <a href="{{ url_for('landing') }}">Home</a>
        <a href="{{ url_for('login') }}">Login</a>
        <a href="#one">About</a>
        <a href="#two">Features</a>
        <a href="#three">Contact</a>
    </nav>
</header>

{% block content %}{% endblock %}

</body>
</html>
